.order-inner.get-way
	.get-way__item
		include ../../public/images/icons/shop.svg
		label.label_radio.label(for="storeGet") Забрать в магазине
			input.input_radio(type="radio" name="storeGet")
	.get-way__item
		include ../../public/images/icons/truck.svg
		label.label_radio.label(for="deliveryGet") Доставка
			input.input_radio(type="radio" name="deliveryGet")
