article.card
	img.card__img(src=(card.img || 'source/images/products/iPhone6S/iphone6s-gold.png') alt="photo")
	h3.card__title= card.name
	span.card__price= card.price + ' руб.'
	button.btn(type="button") Добавить в корзину
	a.btn(href="#") Купить в один клик

