.features
	.features__item
		include ../../public/images/icons/star.svg
		h4.features__title Гарантия качества
		p.features__text Возможность полной проверки товара до оплаты. Гарантия 1 год. Обслуживание в официальном сервис центре Apple.
	.features__item
		include ../../public/images/icons/operator.svg
		h4.features__title Отличный сервис  
		p.features__text У нас самые профессиональные консультации по работе с техникой Apple и сотни довольных покупателей качественным обслуживанием.
	.features__item
		include ../../public/images/icons/ruble.svg
		h4.features__title Привлекательные цены
		p.features__text Не смотря на все наши преимущества наши цены остаются низкими.
	.features__item
		include ../../public/images/icons/truck.svg
		h4.features__title Гарантия доставки
		p.features__text Мы бережно упаковываем и отправляем вам товар, контроллируя доставку каждого продукта индивидуально.